<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/header :: headtag}"></div>
</head>
<body>
<main>
    <div class="container-fluid">
        <div th:insert="~{blocks/header :: header}"></div>
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <div th:insert="~{blocks/sidebar :: sidebar}"></div>
                </div>
            </div>
            <div class="col py-3">
                <form action="/web/persons/add" method="post" class="form-floating">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Фамилия">
                        <label for="last_name">Фамилия</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Имя">
                        <label for="first_name">Имя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="patronymic_name" name="patronymic_name" placeholder="Отчество">
                        <label for="patronymic_name">Отчество</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Дата рождения">
                        <label for="birthdate">Дата рождения</label>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Добавить человека</button>
                </form>
            </div>
        </div>
        <div th:insert="~{blocks/footer :: footer}"></div>
    </div>
</main>
</body>
</html>