<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{blocks/header :: headtag}"></div>
</head>
<body>
    <main>
        <div class="container-fluid">
            <div th:insert="~{blocks/header :: header}"></div>
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <div th:insert="~{blocks/sidebar :: sidebar}"></div>
                    </div>
                </div>
                <div class="col py-3">
                    <!--<form th:action="${URL}" method="get">
                        <input type="text" name="search" placeholder="Поиск...">
                        <button type="submit">Поиск</button>
                    </form> -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ФИО</th>
                            <th>Дата рождения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="person : ${persons}">
                            <td th:text="${person.id_person_inst}"></td>
                            <td th:text="${person.v_last_name + ' ' + person.v_name + ' ' + person.v_patronymic_name }"></td>
                            <td th:text="${#dates.format(person.dt_birthdate, 'dd.MM.yyyy')}"></td>
                            <td>
                                <button type="button" class="btn btn-outline-warning" th:data-id_person_inst="${person.id_person_inst}" data-bs-toggle="modal" data-bs-target="#personEditModal">Изменить</button>
                                <a role="button" class="btn btn-outline-danger"  th:href="${'delete/' + person.id_person_inst}">Удалить </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="add" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Добавить пользователя</a>

                    <div class="modal fade" id="personEditModal" tabindex="-1" role="dialog" aria-labelledby="personEditModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="personEditModalLabel"> Обновить информацию о пользователе</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="/web/persons/edit" method="post" class="form-floating">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="person_id" name="person_id" readonly/>
                                            <label for="person_id" >Идентификатор пользователя</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="last_name" name="last_name">
                                            <label for="last_name">Фамилия</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                            <label for="first_name">Имя</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="patronymic_name" name="patronymic_name">
                                            <label for="patronymic_name">Отчество</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="birthdate" name="birthdate" >
                                            <label for="birthdate" >Дата рождения</label>
                                        </div>
                                        <button type="submit" class="btn btn-success mt-3">Обновить данные</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="~{blocks/footer :: footer}"></div>
        </div>

    </main>

    <script>
       $('#personEditModal').on('shown.bs.modal', function (event) {
           let button         = $(event.relatedTarget)         // Button that triggered the modal
           let id_person_inst = button.data('id_person_inst')  // Extract info from data-* attributes

           if (id_person_inst) {
               $.get({
                   url: '/api/v1/persons/' + id_person_inst,
                   success: (data) => {
                       let modal = $(this)
                       modal.find('#person_id').val(data.id_person_inst)
                       modal.find('#first_name').val(data.v_name)
                       modal.find('#last_name').val(data.v_last_name)
                       modal.find('#patronymic_name').val(data.v_patronymic_name)
                       modal.find('#birthdate').val(data.v_birthdate)
                   },
                   error: (err) => {
                       alert(err);
                   }
               });
           }
       });
    </script>


</body>



</html>